*{
  margin:0;
  padding:0;
}
body{
  background-color: #9266ff;
}
.App{
  background-color:#3f3160;
  min-height:500px;
  width:400px;
  margin:40px auto;
}
.App header form{
  display:grid;
  grid-template-columns:4fr 1fr;
  height:50px;
  margin:0;
  padding:15px;
}
#to-do-form input{
  background: rgb(27,112,137);
  border:0;
  padding:15px;
  margin:0 10px;
  font-size:18px;
  border-radius:10px;
  color: white;
}
#to-do-form input::placeholder{
  color:rgba(255,255,0,0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  border:0;
  border-radius:10px;
  background-color:rgb(202,156,24);
  cursor:pointer;
  font-weight:600;
  color: #fff;
}
#to-do-form button:focus{
  outline: none;
}